<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <span th:include="km/commons/templates :: common-css-js"></span>
    <span th:include="km/commons/templates :: init-menu"></span>
    <style>
        .tab-pane{
            padding: 20px;
        }
    </style>
</head>
<body>
<div th:replace="km/commons/templates :: header">...</div>
<div class="container">
    <div class="page-header">
        <h3>Home</h3>
    </div>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->

    <div class="row">
        <div class="col-md-6">
            <div id="main" style="width: 600px;height:400px;"></div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div style="padding: 15px 20px 15px 20px;">
                    <h5>最近浏览<span class="pull-right"><a>more</a></span></h5>
                </div>
                <ul class="nav nav-tabs" role="tablist" style="padding-left: 20px;">
                    <li role="presentation" class="active"><a href="#doc" data-toggle="tab">Document</a></li>
                    <li role="presentation"><a href="#link" data-toggle="tab">Link</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="doc">

                    </div>
                    <div class="tab-pane" id="link">

                    </div>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/plugins/echarts/echarts.min.js}"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data: ['销量']
        },
        xAxis: {
            data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

</body>
</html>