<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签列表</title>
    <span th:include="km/commons/templates :: common-css-js"></span>
    <span th:include="km/commons/templates :: init-menu"></span>
    <span th:include="km/commons/templates :: bootstrap-table"></span>
    <span th:include="km/commons/templates :: bootstrap-treeview"></span>
    <style>
        .list-group-item {
            border-color: #ffffff;
        }
        .tag-selected{
            margin: 5px;
        }
    </style>
</head>
<body>
<div th:replace="km/commons/templates :: header"></div>
<div class="container">
    <div class="page-header">
        <div class="h3">Document</div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="h4">Tags:</div>
            <div class="list-group" id="tags-list" style="margin-top: 30px;"></div>
        </div>
        <div class="col-lg-9">
            <table id="records-info"></table>
        </div>
    </div>
</div>
</body>
<script th:inline="text">

    /**
     * 知识点列表路程
     **/
    var knowledgeTableURL = "[[@{/knowledge/list}]]";

    /**
     *  刷新表格
     * @param data
     */
    function tableDisplay(data) {
        $("#records-info").bootstrapTable("removeAll").bootstrapTable("append", data);
    }


    $('#records-info').bootstrapTable({
        url: knowledgeTableURL,//请求数据url
        showRefresh: true,
        smartDisplay: true,
        showToggle: true,
        // showExport:true,
        paginationPreText: '上一页',
        paginationNextText: '下一页',
        pagination: true,//分页
//        sidePagination: 'server',//服务器端分页
        paginationVAlign: 'bottom',
        pageNumber: 1,
        pageSize: 30,
        pageList: [10, 20, 30, 50, 'all'],//分页步进值
        search: true, //显示搜索框
//        striped: true,
        columns: [
            {
                field: 'id',
                title: '编号',
                sortable:true,
            },
            {
                field: 'name',
                title: '标题',
            },
            {
                field: 'tags',
                title: '标签',
            },
            {
                field: 'menu.name',
                title: '所属目录',
            },
            {
                field: 'createTime',
                title: '创建时间',
            },
            {
                field: 'status',
                title: '状态',
                formatter: function (value, row, index) { // 单元格格式化函数

                    if (value == 1) {
                        return "<span class='text-success'>可用</span>"
                    }
                    if (value == 0) {
                        return "<span class='text-danger'>禁用</span>"
                    }
                    return value;
                }
            },
            {
                title: '详情',
                formatter: function (value, row, index) { // 单元格格式化函数
                    var id = row['id'];
                    return "<a class='btn btn-default' href='[[@{/view/knowledge/}]]" + id + "' target='_blank'><i class='glyphicon glyphicon-file'></i></a>"

                }
            },
        ]
    })

    /**
     *  Tag 列表 ========
     */
    $.get("[[@{/knowledge/tags/info}]]", function (data) {
        var str = "";
        var count = 0;
        for (var i = 0; i < data.length; i++) {
            var node = data[i];
            str += '<a class="list-group-item tag-btn" data-tag="' + node[0] + '"><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;&nbsp;';
            if (node[1] != 0) {
                str += '<span class="badge">' + node[1] + '</span>';
                count += node[1] - 0;
            }
            str += node[0] + '</a>';
        }
        $("#tags-list").empty();
        $("#tags-list").append('<a class="list-group-item tag-btn" data-tag=""><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;&nbsp;所有</a>').append(str);
    })

    $("#tags-list").on("click", ".tag-btn", function (data) {
        $(".tag-btn").removeClass("active");
        $(this).addClass("active");
        var tag = $(this).attr("data-tag");

        $.get(knowledgeTableURL + "?tag=" + tag, function (data) {
            console.log(data);
            tableDisplay(data);
        })
    })

</script>
</html>